* {
    margin: 0;
    padding: 0;
    scroll-margin-top: 6vh;
    scroll-behavior: smooth;
}

html {
     scroll-padding-top: 6vh;
}

.full-screen-container {
    background-color: white;
    color: black;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

