:root {
    font-size: clamp(16px, 0.833vw, 32px);
}

a {
    color: inherit;
}

.material-entry {
    background-color: white;
    color: black;
    width: 100vw;
    height: fit-content;

    display: flex;
    flex-direction: row;
}

.material {
    width: min(80vw, 1536px);
    padding: 0.938rem;
}

.images {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.625rem 0;
    text-align: center;
}

.images .image-description {
    margin: 0;
    margin-top: 0.625rem;
    text-align: center;
}

.images img {
    width: 50%;
    max-width: 100%;
    height: auto;
}

.material-entry h3 {
    margin-top: 0.938rem;
}

.material-entry p {
    padding-left: 1.25rem;
    width: 90%;
    text-align: justify;
    margin-bottom: 1rem;
}

.materi-title {
    text-align: center;
}

@media (max-width: 768px) {
    .material {
        width: 100vw;
    }

    .material-entry p {
        width: 95%;
    }

    .images img {
        width: 90%;
    }
}
