:root {
    font-size: clamp(16px, 0.833vw, 32px);
}

a {
    color: inherit;
}

.material-entry {
    background-color: white;
    color: black;
    width: 100vw;
    height: fit-content;

    display: flex;
    flex-direction: row;
}

.material {
    width: min(80vw, 1536px);
    padding: 0.938rem;
}

.images {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.625rem 0;
    text-align: center;
    
}

.images .image-description {
    margin: 0;
    margin-top: 0.625rem;
    text-align: center;
}

.images-tutorial {
    align-items: flex-start;
    padding-left: 2.5rem;
}

.images img {
    width: 50%;
    max-width: 100%;
    height: auto;
    border: 3px solid #00fff7;
    
} 

.images img:hover {
    transform: translateX(5px) translateY(-5px);
    box-shadow: -5px 5px #fe0ab9;
}

.images-tutorial img {
    width: 50%;
    max-width: 100%;
    max-height: 500px;
}

.material-entry h3 {
    margin-top: 0.938rem;
}

.material-entry p {
    padding-left: 1.25rem;
    width: 90%;
    text-align: justify;
    margin-bottom: 1rem;
}

.materi-title {
    text-align: center;
}

@media (max-width: 768px) {
    .material {
        width: 100vw;
    }

    .material-entry p {
        width: 95%;
    }

    .images img {
        width: 90%;
    }

    .images-tutorial img {
    width: 85%;
    max-width: 100%;
    max-height: 500px;
}

}
